<div class="clearfix"></div>
<div class="container">
  <div class="well row">
    <div class="edit">
      <div class="main">

        <%= simple_form_for(@cruise) do |f| %>
            <%= f.input :content, label: "Treść:" %><br>
            <%= f.button :submit, 'Wprowadź zmiany' %>
        <% end %>

      </div>
    </div>
  </div>
</div>