body {
  background-image: url("https://raw.githubusercontent.com/sewerus/suhaili/master/app/assets/stylesheets/bg_img.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.contact.well.row {
  padding-top: 0px;
}