<hr>
<footer>
  <div class="row">
    <div class="well">
      <div style="padding-left: 10px">
        <%= render 'layouts/nav_links_for_auth' %>
      </div>
    </div>
  </div>
  <div class="row well">
    <div class="col-lg-12">
      <p>Powered by Seweryn Panek 2016</p>
      <p>Administrated by <a href="https://www.facebook.com/karina.tomalik">Karina Tomalik</a></p>
    </div>
  </div>
</footer>