<!-- Side Widget Well -->
<div class="well text-center row">
  <h4 style="margin-top: -5px">Komandor Andrzej Owerko</h4>
  <%= image_tag("kapitan.jpg") %>
</div>
<!-- img -->
<div class="well text-center row">
  <h4 style="margin-top: -5px">Z widokiem na Wyspę Dużą:</h4>
  <iframe  src="http://imageserver.webcamera.pl/umiesc/polanczyk" width="100%" border="0" frameborder="0" scrolling="no"></iframe>
</div>
<!-- img -->
<!-- widget pogoda -->
<div class="well row">
  <div id="inpl-weather-main" data-icT="1" data-cId="26898" data-clBg="706f70" data-clTxt="f8f8f8" data-clLink="080808" data-txtDesc="1" data-fTemp="1" data-crPs="1" data-crWind="1" data-fr="2" data-wdh="150" data-hIf="564" data-d="http://widgets.interia.pl" style="position:relative;width:100%;background-color:#706f70">
    <div id="inpl-weather-links" style="background-color:#706f70; padding:5px 20px 15px; text-align:center;line-height:20px">
      <a id="wlHbh" style="color:#080808;font-size:13px;text-decoration:none; display:block;" href="http://pogoda.interia.pl/prognoza-szczegolowa-polanczyk,cId,26898" title="Polańczyk - prognoza pogody" >Co godzin&#281;</a>
      <a id="wlfr" style="color:#080808;font-size:13px;text-decoration:none;" href="http://pogoda.interia.pl/prognoza-dlugoterminowa-polanczyk,cId,26898" title="Polańczyk - prognoza pogody" >Na 16 dni</a>
    </div>
  </div><script type="text/javascript">
  (function(d, t, i) {
    if (d.getElementById(i)) return;
    var f = d.getElementsByTagName(t)[0], js = d.createElement(t);
    js.id = i; js.src = "http://w.iplsc.com/widget/weather.jssc";
    f.parentNode.appendChild(js);
  }(document, "script", "widget-js"));
</script>
</div>
<!-- widget pogoda -->